{% extends 'base/base.html' %}
{% block title %}注册{% endblock %}
{% block content %}
    {% if  code == 0 %}
        <script>
            window.history.go(-1);
            alert('{{ msg }}');
        </script>
    {% elif code == 1 %}
        <script>
            window.history.go(-1);
            alert('{{ msg }}');
        </script>
    {% endif %}
    {% load static %}
    <div class="weui_cells_title page_title" style="padding-top: 10%">
        <img src="{% static 'images/logo.jpeg' %}" style="width: 40%;height:20%;text-align: center">
    </div>
    <div class="weui-form" style="padding-top: 0">
        <form action="{% url 'info:register' %}" id="form" method="post">{% csrf_token %}
            <div class="weui-form__control-area">
                <div class="weui-cells__group weui-cells__group_form">
                    <div class="weui-cells__title">注册信息</div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input"
                                       placeholder="请填写用户名" name="username" value="">
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                            <div class="weui-cell__bd">
                                <input type="password" class="weui-input" placeholder="请填写密码" name="password">
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
                            <div class="weui-cell__bd">
                                <input type="password" class="weui-input" placeholder="请填写密码" name="querenpwd">
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                            <div class="weui-cell__bd">
                                <input type="password" class="weui-input" placeholder="请填写手机号" name="telphone">
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                            <input type="text" class="weui-input" placeholder="请填写验证码" name="yzm" value="">
                            <div style="">
                                <input type="hidden" name="hash" id="hash">
                            </div>

                            <div class="divIdentifyingCode">
                                <img id="imgIdentifyingCode" style="height:40px; width: 100px; cursor: pointer;"
                                     alt="点击更换" title="点击更换"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="weui-form__opr-area" style="margin-bottom: 50px">
        <a class="weui-btn weui-btn_primary" id="showTooltips">提交</a>
        <a class="weui-btn weui-btn_primary" href="javascript:window.history.go(-1)">返回</a>
    </div>
    </div>
    <script>
        $.ajax({
            url: 'http:www.outputbug.com/yzm',
            success: function (data) {
                var identifyCodeSrc = data.image_url;
                form.hash.value = data.hashkey;
                let objs = document.getElementById("imgIdentifyingCode");
                objs.src = 'http:www.outputbug.com' + identifyCodeSrc;
            },
        });
        var phone = /^1(3|4|5|7|8)\d{9}$/;
        var pwd = /^(?:\d+|[a-zA-Z]+|[!@#$%^&*]+){6,18}$/;
        $("#showTooltips").on('click', function () {
            if (form.username.value === '') {
                alert("请填写用户名")
            } else if (!pwd.test(form.password.value)) {
                alert("密码不正确，密码由6-18位数字、英文或特殊字符组成")
            } else if (form.querenpwd.value !== form.password.value) {
                alert("两次密码输入不一致");
                form.password.value = '';
                form.querenpwd.value = '';
            } else if (!phone.test(form.telphone.value)) {
                alert("请输入正确的手机号")
            } else if (form.yzm.value === '') {
                alert('请填写验证码')
            } else {
                document.getElementById('form').submit()
            }
        });
        //更新验证码
        $("#imgIdentifyingCode").on('click', function () {
            $.ajax({
                url: 'http:www.outputbug.com/yzm',
                success: function (data) {
                    var identifyCodeSrc = data.image_url;
                    form.hash.value = data.hashkey;
                    let objs = document.getElementById("imgIdentifyingCode");
                    objs.src = 'http:www.outputbug.com' + identifyCodeSrc;
                },
            })
        });
    </script>
    <style>
        .divIdentifyingCode {
            position: absolute;
            right: 0;
            z-index: 5;
            width: 102px; /*设置图片显示的宽*/
            height: 40px; /*图片显示的高*/
            background: #e2e2e2;
            margin: 0;
        }
    </style>
{% endblock %}