{% extends 'base/base.html' %}
{% block title %}老王博客{% endblock %}
{% block content %}
    <script>
        function judge() {
            var text = document.getElementById("t").value;
            var text_1 = document.getElementById("t1").value;
            if (text === "" || text_1 === "")
                alert("请输入内容");
            else {
                document.getElementById("form").submit();
            }
        }
    </script>
    <div class="weui_cells_title" style="text-align: center;color: #8b8b8b;padding-top: 15px;font-size: 20px">博客</div>
    <form action="{% url 'blog:edit_action' %}" method="post" id="form">
        {% csrf_token %}
        {% if article %}
            <input type="hidden" name="article_id" value="{{ article.id | default:'0' }}">
            <div class="weui-cell">
                <div class="weui_cell_hd"><label class="weui-label" style="width: 120px">博客标题</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui-input" type="text" placeholder="标题" name="title" id="t"
                           value="{{ article.title }}">
                </div>
            </div>
            <div class="weui-cell"></div>
            <div class="weui-cells__title" style="color: #0D0D0D;font-size: 16px">博客内容</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="博客内容" rows="3" name="content"
                                  id="t1">{{ article.content }}</textarea>
                    </div>
                </div>
            </div>
        {% else %}
            <input type="hidden" name="article_id" value="0">
            <div class="weui-cell">
                <div class="weui_cell_hd"><label class="weui-label" style="width: 120px">博客标题</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui-input" type="text" placeholder="标题" name="title" id="t">
                </div>
            </div>
            <div class="weui-cell"></div>
            <div class="weui-cells__title" style="color: #0D0D0D;font-size: 16px">博客内容</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="博客内容" rows="3" name="content" id="t1"></textarea>
                    </div>
                </div>
            </div>

        {% endif %}
        <input type="button" value="提交" onclick="judge()" class="weui-btn weui-btn_primary" style="margin-top: 10%">
        <a class="weui-btn weui-btn_primary" href="javascript:window.history.go(-1)">返回</a>
    </form>
{% endblock %}